<!DOCTYPE html>
<html lang="es">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="ElectroMilitary" />
        <meta name="description" content="Portfolio Sebastian Villalobos">
        <link rel="icon" type="image/png" href="../img/memojion.png">   
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Document title -->
        <title>CONTACTAME</title>
        <!-- Stylesheets & Fonts -->
        <link href="../css/plugins.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/custom.css" rel="stylesheet">
        <link href="../plugins/pageloader/pageloader.css" rel="stylesheet">
    </head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-transparent="true" data-fullwidth="true" class="dark">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="../../">
                            <span class="logo-default">PORTFOLIO</span>
                            <span class="logo-dark">PORTFOLIO</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="../../">Home</a></li>
                                    <li><a href="sobremi.html">Sobre mi<span class="badge badge-pill badge-success">En progreso</span></a></li>
                                    <li><a href="proyectos.html">Proyectos</a></li>
                                    <li><a href="">Contactame</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- Section -->
        <section class="fullscreen" data-bg-parallax="../img/contactame/terra.png">
            
            <div class="container">
                <div class="text-center" style="color: white">
                    <h1 style="color: white;">Contactame</h1>
                    <span>El momento mas feliz del dia!<blink><i class="fa fa-i-cursor"></i></blink></span>
                </div>
                <br>
                <div>
                    <div class="row">
                        <div class="col-lg-7 center p-50 background-white b-r-6">
                            <h3>Ponte en contacto</h3>
                            <form role="form" action="https://formsubmit.co/dereklevilla45@gmail.com"  method="POST">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Tu nombre</label>
                                        <input type="text" aria-required="true" name="nombreCliente" required class="form-control required name" placeholder="Introduce tu nombre...">
                                    </div>
                                    <input type="hidden" name="_captcha" value="true">
                                    <div class="form-group col-md-6">
                                        <label for="email">Tu correo</label>
                                        <input type="email" aria-required="true" name="email" required class="form-control required email" placeholder="Introduce tu correo...">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="subject">Asunto</label>
                                        <input type="text" name="_subject" required class="form-control required" placeholder="Asunto...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Mensaje</label>
                                    <textarea type="text" name="mensaje" required rows="5" class="form-control required" placeholder="Escribe tu mensaje.."></textarea>
                                </div>
                            <input type="hidden" name="_next" value="https://electromilitary45.github.io/portfolio.github.io/">
                            <button class="btn btn-dark" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;Enviar Correo</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
        <!-- Footer -->
        <footer id="footer" class="inverted">
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center text-white">&copy; 2022 villalobossebas. Todos los Derechos Reservados.<a href="https://linktr.ee/_villalobossebas_" target="_blank" rel="noopener">Derek Sebastian Leiva Villalobos</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="../js/jquery.js"></script>
	<script src="../js/plugins.js"></script>
	<!--Template functions-->
	<script src="../js/functions.js"></script>
    <script src="../plugins/pageloader/pageloader.js"></script>
    <script src="../plugins/pageloader/pageloader.init.js"></script>
</body>
</html>