<!DOCTYPE html>
<html lang="es">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="ElectroMilitary" />
    <meta name="description" content="Portfolio Sebastian Villalobos">
    <link rel="icon" type="image/png" href="../img/memojion.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Document title -->
	<title>PROYECTOS</title>
	<!-- Stylesheets & Fonts -->
	<link href="../css/plugins.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
    <link href="../plugins/pageloader/pageloader.css" rel="stylesheet">
</head>

<body data-icon="12">
	<!-- Body Inner -->
	<div class="body-inner">
        <section class="fullscreen text-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5"> <img style="width: 350px; height: 350px" alt="" src="../img/proyectos/memoji.jpeg"> </div>
                    <div class="col-lg-7">
                        <div class="heading-text heading-section mt-5">
                            <h1>ACTUALMENTE</h1>
                            <p>Creo que vas a tener que esperar un poco para ver esta seccion!</p>
                            <div class="p-progress-bar-container title-up">
                                <div class="p-progress-bar progress-animated" data-percent="0" data-delay="0" data-type="%" style="width: 100%; background-color:#e1ae2e;">
                                    <div class="progress-title">PROGRESO DE CONTACTAME</div>
                                <span class="progress-type">%</span><span class="progress-number animated fadeIn">0</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="countdown" data-countdown="2022/07/21 12:34:56"></div>
                                </div>
                            </div>
                            <a href="../../index.html" class="btn btn-dark" ><i class="fa fa-infinity"> </i> INICIO</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
	</div> <!-- end: Body Inner -->
	<!-- Scroll top -->
	<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
	<!--Plugins-->
	<script src="../js/jquery.js"></script>
	<script src="../js/plugins.js"></script>
	<!--Template functions-->
	<script src="../js/functions.js"></script>
    <script src="../plugins/pageloader/pageloader.js"></script>
    <script src="../plugins/pageloader/pageloader.init.js"></script>
</body>
</html>