<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="ElectroMilitary" />    
    <link rel="icon" type="image/png" href="../img/memojion.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Sobre mi</title>
    <!-- Stylesheets & Fonts -->
    <link href="../css/custom.css" rel="stylesheet">
    <link href="../css/plugins.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-transparent="true" data-fullwidth="true" class="dark">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="">
                            <span class="logo-default">PORTFOLIO</span>
                            <span class="logo-dark">PORTFOLIO</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="../../">Home</a></li>
                                    <li><a href="">Sobre mi</a></li>
                                    <li><a href="proyectos.html">Proyectos</a></li>
                                    <li><a href="contactame.html">Contactame</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- SECTION FULLSCREEN -->
        <section class="parallax text-light halfscreen" data-bg-parallax="../img/sobremi/2.jpg">
            <div class="container">
                <div class="container-fullscreen">
                    <div class="text-middle text-center text-right">
                        <h1 class="text-uppercase text-medium" data-animate="fadeInDown" data-animate-delay="100">Sebastian Villalobos<blink><i class="fa fa-i-cursor"></i></blink></h1>
                        <p class="lead text-rotator" data-animate="fadeInDown" data-animate-delay="300">Ingeniero en Sistemas🖥️,Amigo❤️,Diseñador👨🏾‍🎨,Gamer🎮</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: SECTION FULLSCREEN -->
        <section>
            <div class="container">
            <!--SOBRE MI-->
            <div class="row  m-b-50">
                <div class="col-lg-3">
                    <div class="heading-text heading-section">
                        <h2>SOBRE MI</h2>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col">Hola! me llamo <span class="text-rotator text-danger">Derek Leiva, Sebastian Villalobos</span>❤️ soy de Costa Rica. 
                            Bueno mi vida siempre a sido a la par de una computadora, mi abuelo fue programador, mi tio es un fanatico de la tecnologia,
                            y bueno yo agarre lo mejor de toda mi familia. 😂
                            <br>
                            Mi sueño mas grande es trabajar en <span class="text-rotator text-success">Microsoft, Google, Apple, Amazon</span>
                            y sé que con esfuerzo y dedicacion lo voy a lograr!
                            En el ambito laboral soy una persona que le gusta trabajar en equipo, buscar soluciones efectivas y eficaces a los problemas.
                            Investigo y complemento mis conocimientos con los demás miembros del equipo.
                            <br>
                            Soy una persona confiable, responsable y autodidacta en todo el ámbito tecnológico.
                            <br>
                        </div>
                    </div>
                </div>
            </div>
                <!--END SOBRE MI-->
                <!--PERFIL PROFESIONAL-->
            <div class="row  m-b-50">
                <div class="col-lg-3">
                    <div class="heading-text heading-section ">
                        <h2>Perfil Profesional</h2>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col">
                            - Manipulación de diferentes aplicaciones y lenguajes de programación como Visual Studio, SQL Server, Java, C#, HTML, Power Bi.
                            <br><br>
                            -Conocimiento en instalación y mantenimiento de cómputo, manejo de Suite Adobe tal como Photoshop y Premiere.<br><br>
                            -Utilización de herramientas ofimáticas.Utiliza  las  funciones  del  sistema  operativo  para  la  administración  de dispositivos y archivos.
                            
                        </div>
                    </div>
                </div>
            </div>
        <!--END PERFIL PROFESIONAL-->
        </section>

        <!-- SECTION VIDEO BACKGROUND -->
        <section class="text-light" data-bg-video="../img/sobremi/a.mp4">
        </section>
        <!-- end: SECTION VIDEO BACKGROUND -->

        <section class="p-b-0">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Certificaciones</h2>
                    <span class="lead"></span>
                </div>
            </div>
            <div class="portfolio">
                <!-- Portfolio Items -->
                <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0">
                    
                    <!-- Certificado Google -->
                    <div class="portfolio-item img-zoom">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="../img/certificados/cloud.png" alt=""></a>
                            </div>
                            <div class="portfolio-description" data-lightbox="gallery">
                                <a title="Certificado Google" data-lightbox="gallery-image" href="../img/certificados/cloud.png"><i class="icon-copy"></i></a>
                                <a href="../img/certificados/cloud.pdf"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Certificado Google -->

                    <!-- Certificado Domestika -->
                    <div class="portfolio-item img-zoom">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="../img/certificados/htmldomes.png" alt=""></a>
                            </div>
                            <div class="portfolio-description" data-lightbox="gallery">
                                <a title="Certificado Domestika" data-lightbox="gallery-image" href="../img/certificados/htmldomes.png"><i class="icon-copy"></i></a>
                                <a href="../img/certificados/HTMLDOMESTIKA.pdf"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Certificado Domestika -->
                    
                    <!-- Certificado IOT -->
                    <div class="portfolio-item img-zoom">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="../img/certificados/iotc.png" alt=""></a>
                            </div>
                            <div class="portfolio-description" data-lightbox="gallery">
                                <a title="Certificado Cisco IOT" data-lightbox="gallery-image" href="../img/certificados/iotc.png"><i class="icon-copy"></i></a>
                                <a href="../img/certificados/IOT.pdf"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Certificado IOT -->

                    <!-- Certificado ITess -->
                    <div class="portfolio-item img-zoom">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="../img/certificados/ITess.png" alt=""></a>
                            </div>
                            <div class="portfolio-description" data-lightbox="gallery">
                                <a title="Certificado Cisco ITESSENTIALS" data-lightbox="gallery-image" href="../img/certificados/ITess.png"><i class="icon-copy"></i></a>
                                <a href="../img/certificados/ITESSENTIALS.pdf"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Certificado ITess -->

                    <!-- Certificado Linux -->
                    <div class="portfolio-item img-zoom">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="../img/certificados/linux.png" alt=""></a>
                            </div>
                            <div class="portfolio-description" data-lightbox="gallery">
                                <a title="Certificado Cisco Linux Unhatched" data-lightbox="gallery-image" href="../img/certificados/linux.png"><i class="icon-copy"></i></a>
                                <a href="../img/certificados/LINUX.pdf"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Certificado Linux -->

                    <!-- Certificado PowerBi -->
                    <div class="portfolio-item img-zoom">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <a href="#"><img src="../img/certificados/powerbi.png" alt=""></a>
                            </div>
                            <div class="portfolio-description" data-lightbox="gallery">
                                <a title="Certificado Power BI" data-lightbox="gallery-image" href="../img/certificados/powerbi.png"><i class="icon-copy"></i></a>
                                <a href="../img/certificados/POWERBI.pdf"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Certificado PowerBi -->

                </div>
                <!-- end: Portfolio Items -->
            </div>
        </section>
        <br><br>
        <!-- Footer -->
        <footer id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2022 villalobossebas. Todos los Derechos Reservados.<a href="https://linktr.ee/_villalobossebas_" target="_blank" rel="noopener">Derek Sebastian Leiva Villalobos</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div> 
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="../js/jquery.js"></script>
    <script src="../js/plugins.js"></script>
    <!--Template functions-->
    <script src="../js/functions.js"></script>
</body>

</html>